---
- name: "Change default shell to zsh"
  become: true
  become_method: sudo
  user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/zsh
  when: ansible_facts['env']['SHELL'] != '/usr/bin/zsh'

- name: "Copy ZshRC"
  copy:
    src: "{{ role_path }}/files/.zshrc"
    dest: "{{ ansible_facts['env']['HOME'] }}/.zshrc"

- name: "Copy z.sh"
  copy:
    src: "{{ role_path }}/files/z.sh"
    dest: "/usr/bin/z.sh"

- name: "Copy Zsh aliases"
  copy:
    src: "{{ role_path }}/files/.zsh_aliases"
    dest: "{{ ansible_facts['env']['HOME'] }}/.zsh_aliases"

- name: "Copy oh-my-posh theme"
  copy:
    src: "{{ role_path }}/files/.mytheme.omp.json"
    dest: "{{ ansible_facts['env']['HOME'] }}/.mytheme.omp.json"

- name: "Ensure .zshenv loads .zshrc for interactive shells"
  lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.zshenv"
    line: "[[ -o interactive ]] && source ~/.zshrc"
    insertafter: EOF
    create: yes

- name: "Ensure .zprofile sources .zshrc inside tmux"
  lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.zprofile"
    line: |
      if [[ -n "$TMUX" ]]; then
          source ~/.zshrc
      fi
    insertafter: EOF
    create: yes

# Install CascadiaCode font via package manager
- name: "Install CascadiaCode font"
  become: yes
  apt:
    name: fonts-cascadia-code
    state: present
    update_cache: yes

- name: "Hush login message"
  shell: "touch {{ ansible_facts['env']['HOME'] }}/.hushlogin"