---
- name: "Copy BashRC"
  copy:
    src: "{{ role_path }}/files/.bashrc"
    dest: "{{ ansible_env.HOME }}"

- name: "Ensure .bash_profile sources .bashrc inside tmux"
  lineinfile:
    path: "{{ ansible_env.HOME }}/.bash_profile"
    line: |
      if [[ -n "$TMUX" ]]; then
          source ~/.bashrc
      fi
    insertafter: EOF
    create: yes
    
- name: "Read current mate terminal profiles"
  dconf:
    key: "/org/mate/terminal/global/profile-list"
    state: "read"
  register: "profile_list"

- name: "profile_list was not set, setting"
  set_fact:
    profile_list: 
      value: '["default"]'
  when: profile_list.value is none

- name: "Adding our profile"
  set_fact:
    new_profile_list: "{{ profile_list.value | regex_replace(']$', \", 'video']\") }}"

- name: "Writing updated profile list"
  dconf:
    key: "/org/mate/terminal/global/profile-list"
    value: "{{ new_profile_list }}"
  when: "'video' not in profile_list.value"
  
- name: "Restoring Video Profile from Dump"
  shell:
    cmd: "dconf load /org/mate/terminal/profiles/video/ < {{ role_path }}/files/dconf-dump-video"
  when: "'video' not in profile_list.value"

# Install CascadiaCode font via package manager
- name: "Install CascadiaCode font"
  become: yes
  apt:
    name: fonts-cascadia-code
    state: present
    update_cache: yes

# Install oh-my-posh fonts
- name: "Install oh-my-posh recommended fonts"
  become: yes
  shell:
    cmd: "oh-my-posh font install CascadiaCode"
  args:
    creates: "{{ ansible_env.HOME }}/.local/share/fonts"
  environment:
    HOME: "{{ ansible_env.HOME }}"
  register: oh_my_posh_font_install
  changed_when: oh_my_posh_font_install.rc == 0

