---
- name: "Change default shell to zsh"
  user:
    name: "{{ ansible_user_id }}"
    shell: /usr/bin/zsh

- name: "Copy ZshRC"
  copy:
    src: "{{ role_path }}/files/.zshrc"
    dest: "{{ ansible_env.HOME }}"

- name: "Copy Zsh aliases"
  copy:
    src: "{{ role_path }}/files/.zsh_aliases"
    dest: "{{ ansible_env.HOME }}/.zsh_aliases"

- name: "Copy oh-my-posh theme"
  copy:
    src: "{{ role_path }}/files/.mytheme.omp.json"
    dest: "{{ ansible_env.HOME }}/.mytheme.omp.json"

- name: "Ensure .zshenv loads .zshrc for interactive shells"
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zshenv"
    line: "[[ -o interactive ]] && source ~/.zshrc"
    insertafter: EOF
    create: yes

- name: "Ensure .zprofile sources .zshrc inside tmux"
  lineinfile:
    path: "{{ ansible_env.HOME }}/.zprofile"
    line: |
      if [[ -n "$TMUX" ]]; then
          source ~/.zshrc
      fi
    insertafter: EOF
    create: yes

# Install CascadiaCode font via package manager
- name: "Install CascadiaCode font"
  become: yes
  apt:
    name: fonts-cascadia-code
    state: present
    update_cache: yes

# Install oh-my-posh fonts
# - name: "Install oh-my-posh recommended fonts"
#   become: yes
#   shell:
#     cmd: "oh-my-posh font install CascadiaCode"
#   args:
#     creates: "{{ ansible_env.HOME }}/.local/share/fonts"
#   environment:
#     HOME: "{{ ansible_env.HOME }}"
#   register: oh_my_posh_font_install
#   changed_when: oh_my_posh_font_install.rc == 0

# Xfce (xfce4-terminal) settings management
- name: "Read current xfce4-terminal font"
  ansible.builtin.command:
    cmd: xfconf-query -c xfce4-terminal -p /general/FontName
  register: xfce_font
  changed_when: false

- name: "Set xfce4-terminal base preferences (video preset)"
  community.general.xfconf:
    channel: xfce4-terminal
    property: "{{ item.property }}"
    value: "{{ item.value }}"
    state: present
  loop:
    - { property: "/general/FontName", value: "Cascadia Code 11" }
    - { property: "/general/UseSystemFont", value: false }
    - { property: "/general/ColorForeground", value: "#C0C0C0" }
    - { property: "/general/ColorBackground", value: "#000000" }
    - { property: "/general/ColorCursor", value: "#FFFFFF" }
    - { property: "/general/ColorPalette", value: "#000000;#AA0000;#00AA00;#AA5500;#0000AA;#AA00AA;#00AAAA;#AAAAAA;#555555;#FF5555;#55FF55;#FFFF55;#5555FF;#FF55FF;#55FFFF;#FFFFFF" }
    - { property: "/general/UseCustomColors", value: true }
    - { property: "/general/ScrollingBar", value: "Right" }
    - { property: "/general/AllowBoldText", value: true }
  when: xfce_font.stdout != "Cascadia Code 11"


