---
- name: "Change root shell to zsh"
  become: true
  become_method: sudo
  user:
    name: "root"
    shell: /usr/bin/zsh

- name: "Copy ZshRC for root"
  become: true
  become_method: sudo
  copy:
    src: "{{ role_path }}/files/.zshrc"
    dest: "/root/.zshrc"

- name: "Copy Zsh aliases for root"
  become: true
  become_method: sudo
  copy:
    src: "{{ role_path }}/files/.zsh_aliases"
    dest: "/root/.zsh_aliases"

- name: "Copy oh-my-posh theme for root"
  become: true
  become_method: sudo
  copy:
    src: "{{ role_path }}/files/.mytheme.omp.json"
    dest: "/root/.mytheme.omp.json"

- name: "Ensure .zshenv loads .zshrc for interactive shells (root)"
  become: true
  become_method: sudo
  lineinfile:
    path: "/root/.zshenv"
    line: "[[ -o interactive ]] && source ~/.zshrc"
    insertafter: EOF
    create: yes

- name: "Ensure .zprofile sources .zshrc inside tmux (root)"
  become: true
  become_method: sudo
  lineinfile:
    path: "/root/.zprofile"
    line: |
      if [[ -n "$TMUX" ]]; then
          source ~/.zshrc
      fi
    insertafter: EOF
    create: yes

- name: "Hush login message for root"
  become: true
  become_method: sudo
  shell: "touch /root/.hushlogin"
 
- name: "Copy oh-my-posh binary to root"
  become: true
  become_method: sudo
  copy:
    src: "{{ ansible_facts['env']['HOME'] }}/.local/bin/oh-my-posh"
    dest: "/root/.local/bin/oh-my-posh"
    mode: "0755"
    remote_src: true